* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sansita Swashed', cursive;
    background-color: rgb(6, 48, 138);
}

.main-container{
    height: 600px;
    width: 600px;
    margin: 0 auto;
    border: 1px dotted goldenrod;
    text-align: center;
}